*,*::after,*::before{
  box-sizing:border-box;
}
body{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
}
.logo img{
  width: 50px;
  max-width: 100%;
}
.nav_icon img{
  width: 50px;
  max-width: 100%;
}
#header{
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  background-color:darkslateblue;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 100;
}
.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;/*main*/
  align-items: center;
  justify-content: space-between;
}
.main_nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.main_nav ul li{
  float: left;
  margin: 0 0 0 30px;
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300px ;
}
.main_nav ul li a{
  color: #fff;
  text-decoration: none;
  line-height: 2;
  display: flex;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;

}
.main_nav a:hover{
  color:sandybrown;
}
.main_nav ul li a::before{
  content: "";
  position: absolute;
  right: 100%;
  top:0;
  width: 0%;
  height: 5px;
  background: #333;
  transition: all ease-in-out 250ms;
}
.main_nav ul li a::after{
  content: "";
  position: absolute;
  left: 100%;
  bottom:0;
  width: 0%;
  height: 5px;
  background: #333;
  transition: all ease-in-out 250ms;
}
.main_nav ul li:hover a::before{
  width: 100%;
  right: 0;
}
.main_nav ul li:hover a::after{
  width: 100%;
  left: 0;
}
.banner{
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode: color;
  color:#fff; 
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  font-size: 26px;
  padding-top:350px; 
}
.banner h1{
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
}
/*footer*/
.content{
  text-align: center;
}
.content-Inside {
  padding: 10px;
  padding-bottom: 20px;
}
.foot{
  background-color: darkslateblue;
}
.footer{
  background-color: darkslateblue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: small;
  height: 40px;
  width: 100%;
  margin-top: -40px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
}
#button1 {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
}
#button1:hover {
  outline: none;
  border: none;
  cursor: pointer;
  animation: More 0.5s;
  background-color: hsl(236, 32%, 26%);
}
@keyframes More {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.block-row{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.700);
  background-blend-mode: color;
}
.rbanner p{
  text-align: center;
  color: #fff;
  font-size: 60px;
}
h4{
  margin-bottom: 30px;
  font-size: 50px;
}
.about_box{
  Background: #696969;
  border-radius:15px;
  padding: 50px;
  margin-bottom: 50px;
  color: #fff;
  text-shadow:none;
  text-align: justify;
  text-justify:inter-ideograph;
}
input{
  border:0;
  background-color:darkslateblue;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  font-size: 20px;
}
input:hover{
  color:#fff;
  background-color:rgb(119, 112, 163);
}
/*Mystory*/
.banner2{
  min-height: 370vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color:rgba(0, 0, 0, 0.788);
  background-blend-mode: color;
  color:#fff; 
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  padding-top:350px;
}

h2{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  padding: -5px -10px;
}

h3{
  font-style: italic;
  font-size: 16px;
  font-weight: lighter;

}

.mystorytable{
  width: 100%;
  margin: -250px auto; 
  max-width: 1100px;
  /*border: 1px solid #ccc;*/
  
  line-height: 40px;
  text-align: left;
  font-size: 16px;
  padding-bottom:5%;
  
}
.mystorytable .icon img {
  max-height: 300px;
  width: auto;
  float: right;
}
.mystorytable2{
  width: 100%;
  margin: -250px auto; 
  max-width: 1100px;
  /*border: 1px solid #ccc;*/
  padding: 0% 5% 0% 5%;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
  padding-bottom:10%;
}
.mystorytable2 .icon img {
  max-height: 300px;
  width: auto;
  display: block;
  align-items: center;
}

/*Myprogrammer*/
.block-row1{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.700);
  background-blend-mode: color;
}
.block-row3{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.700);
  background-blend-mode: color;
}
.service_box {
  width: 800px;
  Background: #696969;
  border-radius:15px;
  padding: 50px;
  margin-bottom: 40px;
  color: #fff;
  text-shadow:none;
  text-align: justify;
  text-justify:inter-ideograph;
}
.container2{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 15px;
  display: flex;/*main*/
  align-items: center;
  justify-content: space-between;
}
.container3{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;/*main*/
  align-items: center;
  justify-content: space-between;
}
h6{
    font-size: 10px;
    font-weight: lighter;
}
.h7{
  font-size: 5px;
}
#button2 {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
}

#button2:hover {
  cursor: pointer;
}

#button2::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid hsl(236, 32%, 26%);
  transform-origin: center;
  transform: scale(1);
}

#button2:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}
/*Portfolio*/
.block-row3{
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:rgba(0, 0, 0, 0.700);
  background-blend-mode: color;
}
#slider img{
  width: 100%;
  max-width: 1100px ;

}


/*Resopnsive*/
/*Thsi media query use for ipad portrait view*/
@media only screen and (min-width:768px) and (max-width:991px){
  .main_nav ul li{margin: 0 0 0 15px; font-size: 16px;}
  .banner2{
    min-height: 310vh;
  }
  .service_box{
    width: 600px;
  }
  
}
@media only screen and (min-width:768px){
  .nav_icon{
    display: none;
  }
  .mystorytable2{
    display: none;
  }
  .block-row2{
    display: none;
  }
  
  
  
}
@media only screen and (max-width:767px) {
  .main_nav{
    position: fixed;
    left: 0;
    top: 95px ;
    padding: 0;
    background-color: #444;
    height: calc(100%-85px);
    width: calc(100%-90px);
    transition: all ease-in-out 250ms;
    transform: translateX(-100%);
  }
  .main_nav.active{
    transform: translateX(0);
  }
  .main_nav::after{
    content: "";
    position: absolute;
    left: 100%;
    top:0;
    height: 100%;
    width: 0;
    background-color: rgba(0,0,0,0.7);
  }
  .main_nav.active::after{
    width: 200px;
  }
  .main_nav ul li{
    float: none;
    margin: 0 ;
    padding: 0;
    border-bottom: 2px solid;
    text-align: center;
  }
   .main_nav ul li a{
     padding:0 100px;
   }
  .nav_icon{
    width: 50px;
    display: block;
  }
  .banner2{
    min-height: 600vh;
  }
  .mystorytable{
    display: none;
  }
  .block-row1{
    display: none;
  }
  .block-row3{
    display: none;
  }
  h6{
    font-size: 10px;
    font-weight: lighter; 
  }
  .block-row2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;

    background-position: center center;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.700);
    background-blend-mode: color;
  }
  .service_box{
    width: 330px;
  }

}
